@media screen and (min-width: 2500px){
    .components{
        width:70%!important;
    }
    body{
        margin: 0 15vw!important;
    }

}

@media screen and (min-width: 1200px) and (max-width: 2000px){
    .components{
        width:70%!important;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px){
    .components{
        width:60%!important;
    }
}

@media screen and (min-width: 900px) and (max-width: 1024px){
    .components{
        width:60%!important;
    }
}

@media screen and (min-width: 800px) and (max-width: 900px){
    .components{
        margin-left: 0%!important;
        max-width:60%!important;
    }
    .sidebar{
        max-width: 40%!important;
    }
}

@media screen and (min-width: 0px) and (max-width: 800px){
    .sidebar{
        position:static;
    }
}

@media screen and (min-width: 729px){
    .navbar-toggler-icon{
        display: none!important;
    }
}